{% extends "layout.html" %}

{% block title %}chai aur tweet{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to chai django project</h1>

    <h2>{% if form.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %}</h2>

    <form enctype="multipart/form-data" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

    <a href="{% url 'tweet_list' %}">Back to home page</a>
{% endblock %}
