{% extends "layout.html" %}
{% load static %}

{% block title %}chai aur tweet{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to chai django project</h1>

    <a class="btn btn-primary mb-4" href="{% url "tweet_create" %}">Create Tweet</a>
    <div class="container row gap-3">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
            {% if tweet.image %}
            <img src="{{ tweet.image.url }}" class="card-img-top" alt="Tweet image">
            {% else %}
            <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="Default image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ tweet.user.username }}</h5>
                <p class="card-text">{{ tweet.text }}</p>
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
